body{
    background-color: gainsboro;
    text-align: center;
}

p{ color: red; }

#tableview{
    background-color:blueviolet;
    padding: 8px;
    margin: auto;
    border-radius: 5px;
    height: 340px;
    width: 300px;
}

input[type=text]{
    background-color: whitesmoke;
    color: black;
    border: solid black 1px;
    border-radius: 5px;
    height: 90%;
    width: 98%;
    font-size: large;
    font-weight: bold;
}

input[type=button]{
    background-color: whitesmoke;
    color: rgba(142, 39, 238, 0.733);
    border: solid black 1px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    font-size: large;
    font-weight: bold;
}

input[type=button]:hover{
    background-color: rgba(245, 245, 245, 0.932);
    color: blueviolet;
}

#clear:hover{
    background-color: green;
    color: whitesmoke;
}
    
#enter:hover{
    background-color: blue;
    color: whitesmoke;
}
    
